body{
    background-image: url(https://artworks.thetvdb.com/banners/series/73255/posters/230801.jpg);
    background-size: cover;
}
p{
    color:deepskyblue;
    background-color: black;
}
h1{
    color: aquamarine;
}
h3{
    color: deepskyblue;
}
#encabezado-cuatro{
    color: deepskyblue;
}
.color-red{
    color: red;
}
.color-blue{
    color: blue;
}
.color-green{
    color:green;
}
